# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# Flask
instance/
uploads/
database/
models/

# ML / TensorFlow
*.h5
*.ckpt

# OS
.DS_Store
Thumbs.db

venv/
__pycache__/
*.pyc
datasets/
uploads/
database/
models/*.h5
